h1 {
   color: #b94242;
}

.wy-side-nav-search:before{
   content: '';
   height: 60px;
   width: 100%;
   display: block;
   background-repeat: no-repeat;
   background-position: center center;
   margin-bottom: 20px;
}